<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    {% if page.layout == "post" %}
    <meta name="description" content="{{ page.summary }}" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.summary }}">
    <meta itemprop="image" content="{{ page.image }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.summary }}">
    <meta name="twitter:creator" content="@arsenkostenko">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{ page.image }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://kosty.github.io{{ page.url }}" />
    <meta property="og:image" content="{{ page.image }}" />
    <meta property="og:description" content="{{ page.summary }}" />
    <meta property="og:site_name" content="Casting thoughts into silicon" />
    <meta property="article:published_time" content="{{ page.date | xmlschema }}" />
    <meta property="article:section" content="{{ page.category }}" />
    <meta property="article:tag" content="{{ page.tags }}" />
    {% comment %}
    {% meta property="fb:admins" content="arsen.kostenko" %}
    {% endcomment %}
    {% endif %}

    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/javascript" src="/javascripts/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Casting thoughts into silicon</h1>
        <p></p>

        <p class="view">You are welcome to learn more about <a href="{{ base.url }}/about.html">Arsen Kostenko</a> or view my <a href="https://github.com/kosty">GitHub Profile</a></p>

      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    
  </body>
</html>
